<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>CONTACT</h1>
          <span><a href="index.html">HOME </a> / CONTACT</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->


<!--=*=*=contact area=*=*=*-->

<div class="contact_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="single_contact">
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> STAMPFORD ADDRESS</h4>
          <div class="contact_list">
            <a href="tel:+880235240251"><i class="fa fa-phone" aria-hidden="true"></i> +88 023 524 0251</a>
            <a href="mailto:Cafeduke@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Cafeduke@gmail.com</a>
            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 692 Eagle Lane Duluth, MN 55802</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single_contact">
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> NEW YORK ADDRESS</h4>
          <div class="contact_list">
            <a href="tel:+880235240251"><i class="fa fa-phone" aria-hidden="true"></i> +88 023 524 0251</a>
            <a href="mailto:Cafeduke@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Cafeduke@gmail.com</a>
            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 692 Eagle Lane Duluth, MN 55802</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="single_contact">
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> LIVERPOOL ADDRESS</h4>
          <div class="contact_list">
            <a href="tel:+880235240251"><i class="fa fa-phone" aria-hidden="true"></i> +88 023 524 0251</a>
            <a href="mailto:Cafeduke@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Cafeduke@gmail.com</a>
            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 692 Eagle Lane Duluth, MN 55802</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contactform_area">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="col-md-12">
          <h3>Send messege us</h3>
        </div>
        <div class="col-md-4">
          <input type="text" placeholder="Name" readonly>
        </div>
        <div class="col-md-4">
          <input type="text" placeholder="Email" readonly>
        </div>
        <div class="col-md-4">
          <input type="text" placeholder="Subject" readonly>
        </div>
        <div class="col-md-12">
          <textarea placeholder="Message" readonly></textarea>
          <a class="custom_btn">Submit</a>
        </div>
      </div>

    </form>
</div>
</div>

<div class="map" id="googleMap">
  <iframe height="400" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.16504374313!2d51.59527291540659!3d25.163904439224776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45cc7fd938c473%3A0x9db59a0ca25ae905!2sGourmet+Hut+Restaurant!5e0!3m2!1sen!2sqa!4v1507199293428" frameborder="0" style="border:0" allowfullscreen></iframe><!--contact area end-->
</div>


<!--footer area start-->
