<div class="hero_area">
  <!--header area Start-->
  <!--header area end-->

</div>
<!--hero area end-->

<!--tittle_area start-->
<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>FOOD MENU</h1>
          <span><a href="index.html">HOME </a> / MENU</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->
<!--our_menu area start-->
<div class=" food_menu_page parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="our_menu_tabs">
          <li class="active" data-name="*">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style="background-image:url(../../../assets/img/food_menu1.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon1.png)"></span>
              </div>
              BRACKFAST
            </a>
          </li>
          <li data-name=".pizza">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style="background-image:url(../../../assets/img/food_menu2.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon2.png)"></span>
              </div>
              PIZZA
            </a>
          </li>
          <li data-name=".lunch">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style="background-image:url(../../../assets/img/food_menu3.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon3.png)"></span>
              </div>
              LUNCH
            </a>
          </li>
          <li data-name=".drinks">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style="background-image:url(../../../assets/img/food_menu4.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon4.png)"></span>
              </div>
              DRINKS
            </a>
          </li>
          <li data-name=".soup">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style="background-image:url(../../../assets/img/food_menu5.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon5.png)"></span>
              </div>
              SOUP
            </a>
          </li>
          <li data-name=".dinner">
            <a href="#">
              <div class="icon_wraper">
                <span class="icon" style=" background-image:url(../../../assets/img/food_menu6.png)"></span>
                <span class="hover_icon" style="background-image:url(../../../assets/img/menu_h_icon6.png)"></span>
              </div>
              DINNER
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <div class="row isotope">
          <div class="single_menu col-md-4 col-sm-6 brackfast lunch wow fadeIn" data-wow-delay="0s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food1.jpg)"></div>
            <div class="menu_content">
              <h5>Ambra plum juice</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 pizza dinner dinner wow fadeIn" data-wow-delay="0.2s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food2.jpg)"></div>
            <div class="menu_content">
              <h5>Mango</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 brackfast pizza lunch wow fadeIn" data-wow-delay="0.4s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food3.jpg)"></div>
            <div class="menu_content">
              <h5>Honey green tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 brackfast dinner wow fadeIn" data-wow-delay="0s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food4.jpg)"></div>
            <div class="menu_content">
              <h5>Milk tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 pizza dinner wow fadeIn" data-wow-delay="0.2s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food5.jpg)"></div>
            <div class="menu_content">
              <h5>Soya bean</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 brackfast soup dinner drinks lunch wow fadeIn" data-wow-delay="0.4s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food6.jpg)"></div>
            <div class="menu_content">
              <h5>Keat la plum juice</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 pizza dinner drinks wow fadeIn" data-wow-delay="0s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food7.jpg)"></div>
            <div class="menu_content">
              <h5>Herbal tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 lunch soup dinner drinks wow fadeIn" data-wow-delay="0.2s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food8.jpg)"></div>
            <div class="menu_content">
              <h5>ice lemon tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 brackfast soup lunch wow fadeIn" data-wow-delay="0.4s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food9.jpg)"></div>
            <div class="menu_content">
              <h5>Ambra plum juice</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 pizza dinner drinks wow fadeIn" data-wow-delay="0s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food10.jpg)"></div>
            <div class="menu_content">
              <h5>Herbal tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 lunch soup dinner drinks wow fadeIn" data-wow-delay="0.2s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food11.jpg)"></div>
            <div class="menu_content">
              <h5>ice lemon tea</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
          <div class="single_menu col-md-4 col-sm-6 brackfast soup lunch wow fadeIn" data-wow-delay="0.4s">
            <div class="food_menu_img" style="background-image:url(../../../assets/img/single_food12.jpg)"></div>
            <div class="menu_content">
              <h5>Ambra plum juice</h5>
              <p>Duis autem vel eum iriure dolor inhe ndrerit in vulputate velit.</p>
              <span>Price: $8.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--our_menu area end-->

<!--pagination area start-->
<div class="pagination_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="paginations">
          <a class="prev" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a class="next active" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pagination area end-->

<!--footer area start-->
