<footer>
  <div class="footer_top_area">
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-sm-3">
          <h4 class="footer_tittle">About us</h4>
          <div class="footer_content">
            <p>Duis autem vel eum iriure dolor in hendreri vulputate velit esse mole stie consequat liber tempor.</p>
            <span>We Accept</span>
            <img src="../../../../../../../../../assets/img/payment_method1.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-3 margin_left">
          <h4 class="footer_tittle">Important link</h4>
          <ul class="footer_menu">
            <li><a routerLink="/Home">Home</a></li>
            <li><a routerLink="/About">About us</a></li>
            <li><a routerLink="/Menu">Menu</a></li>
            <li><a href="blog1.html">News</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4 class="footer_tittle">Contact</h4>
          <div class="footer_contact">
            <span>Head office</span>
            <a><i class="fa fa-map-marker" aria-hidden="true"></i>2923 White Pine Lane
              Ashburn, VA 20147</a>
            <a href="tel:+880356504521"><i class="fa fa-phone" aria-hidden="true"></i>
              +88 035 650 4521</a>
            <a href="mailto:Suuportfood@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
              Suuportfood@gmail.com</a>
          </div>
        </div>
        <div class="col-sm-3">
          <h4 class="footer_tittle">Subcribe now!!</h4>
          <form action="#" class="footer_subscribe">
            <input type="text" placeholder="Type your mail addriss">
            <a href="#"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 <a href="#">RidgeStack</a>,
            <br> All Rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
