<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>BUY FOOD</h1>
          <span><a href="index.html">HOME </a> / SHOP</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->

<!--shop page area start-->
<div class="shop_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog1.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog2.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog6.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog3.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog4.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single_shop">
              <img src="../../../assets/img//v1blog5.jpg" alt="">
              <div class="shop_content">
                <h4>Mango cream cake</h4>
                <p>Duis autem vel eum iriure dolor in ndrerit in vul.</p>
                <div class="shop_rate">
                  <span>Price: $17.00</span>
                  <a class="blog_btn" href="cart.html">Order now</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="paginations">
          <a class="prev" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a class="next active" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <form class="blog_search_bar">
          <input type="text" placeholder="Search here">
          <a href="#" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i> </a>
        </form>
        <ul class="shop_list">
          <li><a href="#">BRACKFAST</a></li>
          <li><a href="#">PIZZA</a></li>
          <li><a href="#">LUNCH</a></li>
          <li><a href="#">DINNER</a></li>
          <li><a href="#">SOUP</a></li>
          <li><a href="#">DINNER</a></li>
          <li><a href="#">OTHERS</a></li>
        </ul>
        <div class="shop_rating">
          <h5>RATING</h5>
          <ul class="shop_list rating">
            <li>
              <a href="#">
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="rated fa fa-star-o"></i>
                <i class="rated fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="rated fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
                <i class=" fa fa-star-o"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--shop page area end-->
