<!--<div class="preloader">-->
  <!--<div class="spinner">-->
    <!--<div class="dot1"></div>-->
    <!--<div class="dot2"></div>-->
  <!--</div>-->
<!--</div>-->
<!--preloader area end-->
<!--Hero area Start-->
<div class="hero_area">
  <!--header area Start-->

  <!--header area end-->

</div>
<!--hero area end-->

<!--tittle_area start-->
<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>ABOUT US</h1>
          <span><a href="index.html">HOME </a> / ABOUT US</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->

<!--about_page area start-->
<div class="about_page_area">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-sm-6">
        <div class="about_img">
          <img style="margin-top: 20%;" width="120%" src="../../../assets/img/about_back_img.jpg" alt="">

        </div></div>
      <div class="col-sm-6 text-center">
        <div class="about_content">
          <h3>About Gourmet Hut</h3>
          <p>Our founder had an idea to create a restaurant that was more than a place
            that served great food. He wanted to give locals a place where they'd always
            feel at home. A place where they could get no-nonsense food at down-to-earth prices,
            and where they'd be treated right by people who had a passion to serve.</p>
          <p>We Follow the path of environmental friendliness that’s is not beyond moral principals,
            religious belief’s and health safety measure. A venture where the personal values
            coincide with the organizational values.</p>
          <p>We have experienced team working under the highly qualified Chef, who has vast
            experience of 35 years in food service industry including restaurant, Banquets,
            Outdoor Catering , labor and airline catering services. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--about_page area end-->

<!--team area start-->
<!--
<div class="team_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Meet Our Chef</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single_team wow fadeIn" data-wow-delay="0s">
          <img src="../../../assets/img/team1.jpg" alt="">
          <div class="team_content">
            <h4>Sharon Claar</h4>
            <span>Chef</span>
            <p><span>Special for</span>  Amrican Thai coup</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single_team wow fadeIn" data-wow-delay=".2s">
          <img src="../../../assets/img/team2.jpg" alt="">
          <div class="team_content">
            <h4>Sharon Claar</h4>
            <span>Chef</span>
            <p><span>Special for</span>  Amrican Thai coup</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single_team wow fadeIn" data-wow-delay="0.4s">
          <img src="../../../assets/img/team3.jpg" alt="">
          <div class="team_content">
            <h4>Sharon Claar</h4>
            <span>Chef</span>
            <p><span>Special for</span>  Amrican Thai coup</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single_team wow fadeIn" data-wow-delay="0.6s">
          <img src="../../../assets/img/team4.jpg" alt="">
          <div class="team_content">
            <h4>Sharon Claar</h4>
            <span>Chef</span>
            <p><span>Special for</span>  Amrican Thai coup</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!--team area end-->
