.fix-label {
  font-size: 20px;
  margin-top: 2%;
  color: white;
}
.row {
  background: #254093;
}
img{
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.image-size{
  margin-top: 5%;
  font-size: 11px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.navbar {
  padding: 0px;
}
.row {
  margin  : 0;
}
