<div>
<nav class="navbar navbar-default">
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-7">
    <label class="fix-label"><h2>Asplundh</h2><h6>Productivity Application</h6></label>
    </div>
    <div class="col-md-5">
       <div class="col-md-4 image-size">
        <img src="../../../../assets/app-icons/userDelegation.png">
         <label>User Delegation</label>
       </div>
       <div class="col-md-3 image-size">
        <img src="../../../../assets/app-icons/delegationIcon.png">
         <label>Bid Plans</label>
       </div>
       <div class="col-md-3 image-size">
        <img src="../../../../assets/app-icons/userr.png">
         <label>Mr. ABCDEF</label>
       </div>
        <!--<div class="col-md-1 image-size">-->
        <!--<img src="../../../../assets/app-icons/userr.png">-->
        <!--</div>-->
    </div>
    </div>
  </div>
</nav>
</div>
