<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>BLOG</h1>
          <span><a href="index.html">HOME </a> / BLOG - V1</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->
<!--blog_v1_page area start-->
<div class="blog1_area text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog1.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog2.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog3.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog4.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog5.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog6.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog7.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog8.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="single_blog">
          <img src="../../../assets/img//v1blog9.jpg" alt="">
          <div class="blog_content_wraper">
            <div class="blog_content">
              <h4>Today we will say about
                this food</h4>
              <p>Class aptent taciti sociosqu ad litora torqu onubia nostra per inceptos himenaeos.</p>
              <p class="entry_meta">
                <a href="#">23/04/2017 |</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 28 |</a> <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 315</a>
              </p>
              <a href="single_blog.html" class="blog_btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--blog_v1_page area end-->

<!--pagination area start-->
<div class="pagination_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="paginations">
          <a class="prev" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a class="next active" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
