<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>OUR CHEF</h1>
          <span><a href="index.html">HOME </a> / CHEF</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->

<!--chef page area start-->
<div class="chef_area team_area">
  <div class="container">
    <div class="chef_details_slider">
      <div class="single_chef_slider">
        <div class="row">
          <div class="col-sm-5">
            <img src="../../../assets/img//chef3.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="chef_details_content">
              <h4>Sharon Claar</h4>
              <span>Special for: Amrican Thai coup</span>
              <a href="mailto:Andreweyer@rhyta.com" class="chef_mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Andreweyer@rhyta.com</a>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqu .</p>
              <div class="social_links">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single_chef_slider">
        <div class="row">
          <div class="col-sm-5">
            <img src="../../../assets/img//chef2.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="chef_details_content">
              <h4>Sharon Claar</h4>
              <span>Special for: Amrican Thai coup</span>
              <a href="mailto:Andreweyer@rhyta.com" class="chef_mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Andreweyer@rhyta.com</a>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqu .</p>
              <div class="social_links">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single_chef_slider">
        <div class="row">
          <div class="col-sm-5">
            <img src="../../../assets/img//chef4.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="chef_details_content">
              <h4>Sharon Claar</h4>
              <span>Special for: Amrican Thai coup</span>
              <a href="mailto:Andreweyer@rhyta.com" class="chef_mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Andreweyer@rhyta.com</a>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqu .</p>
              <div class="social_links">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single_chef_slider">
        <div class="row">
          <div class="col-sm-5">
            <img src="../../../assets/img//chef1.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="chef_details_content">
              <h4>Sharon Claar</h4>
              <span>Special for: Amrican Thai coup</span>
              <a href="mailto:Andreweyer@rhyta.com" class="chef_mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Andreweyer@rhyta.com</a>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqu .</p>
              <div class="social_links">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single_chef_slider">
        <div class="row">
          <div class="col-sm-5">
            <img src="../../../assets/img//chef3.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <div class="chef_details_content">
              <h4>Sharon Claar</h4>
              <span>Special for: Amrican Thai coup</span>
              <a href="mailto:Andreweyer@rhyta.com" class="chef_mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Andreweyer@rhyta.com</a>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqu .</p>
              <div class="social_links">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="chef_team_slider">
      <div class="single_team">
        <img src="../../../assets/img//team1.jpg" alt="">
        <div class="team_content">
          <h4>Sharon Claar</h4>
          <span>Chef</span>
          <p><span>Special for</span> Amrican Thai coup</p>
        </div>
      </div>
      <div class="single_team">
        <img src="../../../assets/img//team2.jpg" alt="">
        <div class="team_content">
          <h4>Sharon Claar</h4>
          <span>Chef</span>
          <p><span>Special for</span> Amrican Thai coup</p>
        </div>
      </div>
      <div class="single_team">
        <img src="../../../assets/img//team3.jpg" alt="">
        <div class="team_content">
          <h4>Sharon Claar</h4>
          <span>Chef</span>
          <p><span>Special for</span> Amrican Thai coup</p>
        </div>
      </div>
      <div class="single_team">
        <img src="../../../assets/img//team4.jpg" alt="">
        <div class="team_content">
          <h4>Sharon Claar</h4>
          <span>Chef</span>
          <p><span>Special for</span> Amrican Thai coup</p>
        </div>
      </div>
      <div class="single_team">
        <img src="../../../assets/img//team1.jpg" alt="">
        <div class="team_content">
          <h4>Sharon Claar</h4>
          <span>Chef</span>
          <p><span>Special for</span> Amrican Thai coup</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!--chef page area end-->
