<div class="tittle_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tittle_content">
          <h1>GALLERY MASONRY</h1>
          <span><a href="index.html">HOME </a> / GALLERY</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tittle_area end-->
<!--gallery_area page area start-->
<div class="gallery_page_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our_menu_tabs">
          <li class="active" data-name="*"><a href="#">ALL</a></li>
          <li data-name=".brackfast"><a href="#">BRACKFAST</a></li>
          <li data-name=".pizza"><a href="#">PIZZA</a></li>
          <li data-name=".lunch"><a href="#">LUNCH</a></li>
          <li data-name=".drinks"><a href="#">DRINKS</a></li>
          <li data-name=".soup"><a href="#">SOUP</a></li>
          <li data-name=".dinner"><a href="#">DINNER</a></li>
        </ul>
      </div>
    </div>
    <div class="row isotope">
      <div class="col-sm-3 brackfast single_menu">
        <a href="img/m_gallery1.jpg"><img src="../../../assets/img//m_gallery1.jpg" alt=""></a>
      </div>
      <div class="col-sm-4 pizza single_menu">
        <a href="img/m_gallery2.jpg"><img src="../../../assets/img//m_gallery2.jpg" alt=""></a>
      </div>
      <div class="col-sm-5 brackfast pizza single_menu">
        <a href="img/m_gallery3.jpg"><img src="../../../assets/img//m_gallery3.jpg" alt=""></a>
      </div>
      <div class="col-sm-5 brackfast lunch single_menu">
        <a href="img/m_gallery4.jpg"><img src="../../../assets/img//m_gallery4.jpg" alt=""></a>
      </div>
      <div class="col-sm-3 brackfast dinner drinks single_menu">
        <a href="img/m_gallery5.jpg"><img src="../../../assets/img//m_gallery5.jpg" alt=""></a>
      </div>
      <div class="col-sm-4   single_menu">
        <a href="img/m_gallery6.jpg"><img src="../../../assets/img//m_gallery6.jpg" alt=""></a>
      </div>
      <div class="col-sm-4  single_menu">
        <a href="img/m_gallery7.jpg"><img src="../../../assets/img//m_gallery7.jpg" alt=""></a>
      </div>
      <div class="col-sm-5 soup dinner drinks single_menu">
        <a href="img/m_gallery8.jpg"><img src="../../../assets/img//m_gallery8.jpg" alt=""></a>
      </div>
      <div class="col-sm-3 dinner  single_menu">
        <a href="img/m_gallery9.jpg"><img src="../../../assets/img//m_gallery9.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
